.h1 {
  font-size: 40px;
  font-weight: bold;

  color: brown;
}
h1,
.lsitUser {
  font-size: 40px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: cyan;
}
.comment {
  color: cyan;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding: 10px;
  display: none;
}
.listComment {
  color: cyan;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding: 10px;
}
body {
  margin: 0;
  padding: 0;

  background: rgb(0, 0, 0, 1);
  height: 600px;
}
.bodyclass {
  background: rgba(0, 0, 0, 0.653);
  width: 1180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 445px;
  overflow-x: hidden;
}

.divBdy {
  width: 605px;
  height: 410px;
  position: relative;

  border-radius: 10px;
  border-top-left-radius: 128px 121px;
  background: rgba(59, 24, 10, 0.895);
}
.userPicName {
  display: flex;
  height: 231px;
}
.userPic {
  width: 36%;
}
.userName {
  width: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mePic {
  border-radius: 50%;
}
.footer {
  width: 605px;
  height: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 10px;
  background: linear-gradient(
    to left,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  bottom: 0;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
button {
  border-radius: 2px;
}
button:hover {
  color: coral;
  background: rgba(0, 0, 0, 0.751);
}

.nameInPut {
  background: rgba(126, 49, 19, 0.443);
  color: magenta;
  width: 300px;
  height: 50px;
  text-align: center;
  border: 0;
  box-shadow: 5px;
  border-radius: 5px;
}
.commentInPut {
  width: 600px;
  height: 139px;
  background: rgba(126, 49, 19, 0.443);
  text-align: center;
  border: 0;
  box-shadow: 5px;
  border-radius: 5px;
  color: white;
}
li {
  color: rgb(32, 215, 222);
  

  font-size: 20px;
  text-align: center;
}
ul {
  list-style-type: none;
  width: 300px;
  margin-left:20px;
  display: flex;
  column-gap: 8px;
  

}
.cancel {
  border-radius: 50%;
  margin-left: 20px;
  color: rgb(246, 72, 9);
  background: rgba(0, 0, 0, 0.751);
  position: absolute;
  bottom: 0;
  right: 0;
}
.hr1 {
  width: 100px;
}

.inside {
  width: 200px;
  height: 100px;
  background: rgba(59, 24, 10, 0.895);
  border-radius: 10px;
  border: 2px solid coral;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  position: relative;
 
